<ng-container *ngIf="pet !== undefined; else not_found">

  <div class="pet-card">
    <div class="pet-card-header">
      <img [src]="pet.picture" class="pet-picture">
      <h2 class="pet-name">{{pet.name}}</h2>
    </div>

    <div class="pet-details">
      <div class="pet-info">
        <span class="info-label">ID: </span>
        <span class="info-value">{{pet.id}}</span>
      </div>
      <div class="pet-info">
        <span class="pet-label">Pet Kind: </span>
        <span class="pet-value">{{pet.petKind}}</span>
      </div>
      <div class="pet-info">
        <span class="info-label">Breed: </span>
        <span class="info-value">{{pet.breed}}</span>
      </div>
      <div class="pet-info">
        <span class="info-label">First Name: </span>
        <span class="info-value">{{pet.petFirstName}}</span><br>
        <span class="info-label">Last Name: </span>
        <span class="info-value">{{pet.petLastName}}</span>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #not_found>
  <p class="not-found-message">
    The data is not found.
  </p>
</ng-template>
