
.pet-card {
  background-color: #f0e7f4;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 35em;
}


.pet-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pet-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.pet-name {
  margin: 0;
  font-size: 24px;
  color: #4b2e83;
}


.pet-details {
  padding-left: 20px;
}

.pet-info {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
}

.pet-value {
  color: #6b519c;
}


.not-found-message {
  color: #ff0033;
  font-weight: bold;
}
